header {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: space-between;
  min-height: 150px;
  margin-bottom: 50px;
}

.container {
  height: 100%;
  display: flex;
  flex-flow: column;
  align-items: center;
  padding: 40px;
}

.calculatorContainer {
  position: relative;
  width: 500px;
  height: 570px;
}

.calculator {
  background: #FFFFFF;
  border-radius: 20px;
  box-shadow: 0 0 10px 0 rgba(33, 48, 77, 0.10);
  padding: 20px 30px 30px 30px;
  width: 100%;
  z-index: 100;
  transition: background-color 0.5s linear;
}

.dark-mode .calculator {
  background: #444444;
  box-shadow: none;
}

input[type="number"] {
  color: #001428;
  border: 1px solid #AAAAAA;
  padding: 20px;
  border-radius: 8px;
  width: 205px;
  font-size: 20px;
  outline: none;
  transition: background-color 0.5s linear, border 0.5s linear, color 0.5s linear;
}

input[type=number]::-webkit-inner-spin-button {
  padding: 5px;
  height: 25px;
}

.dark-mode input[type=number] {
  background: #333333;
  border: 1px solid #333333;
  color: #AAAAAA;
}

button {
  background: #008C73;
  color: #FFFFFF;
  text-transform: uppercase;
  font-weight: 800;
  border: none;
  border-radius: 8px;
  padding: 20px;
  width: 205px;
  float: right;
  font-size: 20px;
  outline: none;
  cursor: pointer;
  transition: opacity 0.5s linear;
}

.dark-mode button {
  opacity: 0.7;
}

button:hover {
  background: #005546;
}

.dark-mode button:hover {
  opacity: 0.7;
}

.calcResults {
  --border: 1px solid red;
  overflow: auto;
  height: 320px;
  margin: 20px 5px 0 5px;
}

/* width */
.calcResults::-webkit-scrollbar {
  width: 10px;
  transition: all 1s linear;
}

/* Track */
::-webkit-scrollbar-track {
  background: #DDDDDD;
  border-radius: 10px;
  transition: background-color 0.5s linear;
  display: none;
}

.dark-mode ::-webkit-scrollbar-track {
  background: #333333;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #FFFFFF;
  border-radius: 10px;
  transition: background-color 0.5s linear;
  display: none;
}

.dark-mode ::-webkit-scrollbar-thumb {
  background: #555555;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #AAAAAA;
}

.dark-mode ::-webkit-scrollbar-thumb:hover {
  background: #666666;
}

.calcResults:hover::-webkit-scrollbar-track {
  display: block;
}

.calcResults:hover::-webkit-scrollbar-thumb {
  display: block;
}

.calcResults > div:hover {
  opacity: 1;
  color: #008C73;
}

.dark-mode .calcResults {
  color: #AAAAAA;
}

.calcResult {
  --border: 1px solid green;
  display: flex;
  padding: 12px 0;
  justify-content: center;
}

.calcResults > :nth-child(1) {
  opacity: 1;
}

.calcResults > :nth-child(2) {
  opacity: 0.4;
}

.calcResults > :nth-child(3) {
  opacity: 0.2;
}

.calcResults > :nth-child(4) {
  opacity: 0.1;
}

.calcResults > :nth-child(n+4) {
  opacity: 0.08;
}

.owners {
  --border: 1px solid green;
  text-align: center;
  margin-right: 30px;
  width: 140px;
}

.ownersValue {
  font-size: 40px;
  line-height: 41px;
}

.ownersLabel {
  font-size: 20px;
  line-height: 15px;
}

.cost {
  --border: 1px solid green;
  display: flex;
  flex-flow: column;
  width: 200px;
}

.costEth {
  font-size: 30px;
}

.gasUsed {
  font-size: 13px;
}
