header {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: space-between;
  min-height: 150px;
  margin-bottom: 50px;
}

.container {
  height: 100%;
  display: flex;
  flex-flow: column;
  align-items: center;
  padding: 40px;
}

.calculatorContainer {
  position: relative;
  width: 500px;
  height: 570px;
}

.calculator {
  position: absolute;
  background: #FFFFFF;
  border-radius: 20px;
  box-shadow: 0 0 10px 0 rgba(33, 48, 77, 0.10);
  padding: 30px;
  width: 100%;
  z-index: 100;
}

.dark-mode .calculator {
  background: #242526;
  box-shadow: none;
}

input[type="number"] {
  color: #001428;
  border: 1px solid #AAAAAA;
  padding: 20px;
  border-radius: 8px;
  width: 205px;
  font-size: 20px;
  outline: none;
}

.dark-mode input[type="number"] {
  background: #3A3B3C;
  border: 1px solid #3A3B3C;
  color: #B0B3B8;
}

button {
  background: #008C73;
  color: #FFFFFF;
  text-transform: uppercase;
  font-weight: 800;
  border: none;
  border-radius: 8px;
  padding: 20px;
  width: 205px;
  float: right;
  font-size: 20px;
  outline: none;
  cursor: pointer;
}

.dark-mode button {
  opacity: 0.7;
  color: #1A1A1A;
}

button:hover {
  background: #005546;
}

.dark-mode button:hover {
  opacity: 0.7;
}

.calcResult {
  position: absolute;
  display: block;
  background: #FAFAFA;
  overflow: hidden;
  border-radius: 0 0 20px 20px;
  box-shadow: 0 0 10px 0 rgba(33, 48, 77, 0.1);
  padding: 30px;
  padding-top: 50px;
  width: 100%;
  top: 30px;
  height: 200px;
  z-index: 99;
}

.dark-mode .calcResult {
  background: RGBA(255, 255, 255, 0.1);
  box-shadow: none;
}

@keyframes showCalc {
  0% {
    top: 30px;
    height: 200px;
  }
  100% {
    top: 180px;
    height: 350px;
  }
}

.showCalcResult {
  top: 180px;
  height: 350px;
  animation: 0.5s showCalc;
}

@keyframes hideCalc {
  0% {
    top: 180px;
    height: 350px;
  }
  100% {
    top: 30px;
    height: 200px;
  }
}

.hideCalcResult {
  top: 30px;
  height: 200px;
  animation: 0.5s hideCalc;
}
