footer {
  display: flex;
  width: 100px;
  justify-content: space-between;
}

.github {
  color: black;
  height: 40px;
  width: 40px;
  opacity: 0.5;
}

.github:hover {
  opacity: 1;
}

.dark-mode .github {
  color: white;
}
