@font-face {
  font-family: 'Averta';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('assets/fonts/Averta-normal.woff2') format('woff2');
}

@font-face {
  font-family: 'Averta';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url('assets/fonts/Averta-ExtraBold.woff2') format('woff2');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Averta, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  background: #F7F5F5;
  transition: background-color 0.5s linear;
}

body.dark-mode {
  background: #18191A;
}

h1 {
  color: #008C73;
  font-size: 55px;
  @media only screen and (max-width: 600px) {
    font-size: 30px;
    text-align: center;
  }
}

.dark-mode h1 {
  opacity: 0.7;
}

h2 {
  color: #001428;
  font-size: 35px;
  @media only screen and (max-width: 600px) {
    font-size: 25px;
    text-align: center;
  }
}

.dark-mode h2 {
  color: #AAAAAA;
}

h3 {
  color: #001428;
  font-size: 28px;
}

.dark-mode h3 {
  color: #AAAAAA;
}

p {
  color: #001428;
  font-size: 18px;
  padding: 10px 0;
  width: 100%;
}

.dark-mode p {
  color: #AAAAAA;
}
